*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .parent {
    width: 400px;
    height: 200px;
    border: 2px solid;
    background-color: gray;
    margin: 20px auto;
} */
/* .child{
    width: 100px;
    height: 100px;
    border: 2px solid;
    background-color: brown;
    margin: 0% auto;
    /* transform: rotate(90deg); */
    /* transform: skew(20deg); */
/* } */ 
/* .child:hover{
    transform: scale(1.5);

} */


.parent {
    width: 800px;
    height: 700px;
    border: 2px solid;
    background-color: gray;
    margin: 20px auto;
    position: relative;
}

.item {
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    animation: mymove 8s ease-in-out infinite;
}

@keyframes mymove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(740px, 0);
    }
    50% {
        transform: translate(740px, 300px);
    }
    75% {
        transform: translate(0, 300px);
    }
    100% {
        transform: translate(0, 0);
    }
}
